<!-- posso fazer os includes de bootstraps tbm-->
{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<nav class='navbar navbar-inverse'>
    <div class='container-fluid'> 
        <!--Logo-->
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#topNavBar'>
                <span class='icon-bar'></span> 
                <span class='icon-bar'></span>   
                <span class='icon-bar'></span>      
            </button>
            <a class='navbar-brand' href="{% url 'stock:index' %}">Stocks</a>
        </div>
        <!--Itens  -->
        <div class='collapse navbar-collapse' id='topNavBar'>
            <ul class='nav navbar-nav'>
                <li class=''> 
                    <a href='{% url 'stock:index' %}'>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Stock
                    </a>                
                </li> 
                <li class=''> 
                    <a href='{% url 'stock:index' %}'>
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; teste
                    </a>                
                </li>            
            </ul>

            <form class='navbar-form navbar-left' role='search' method='get' action='#'>
                <div class='form-group'>
                    <input type='text' class='form-control' name='q' value=''>    
                </div>
                <button type='submit' class='btn btn-default'>Search</button>
            </form>

            <ul class='nav navbar-nav navbar-right'>
                <li class=''> 
                    <a href='{% url 'stock:index' %}'>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Prices
                    </a>                
                </li>  
                <li class=''> 
                    <a href='{% url 'stock:index' %}'>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>                
                </li> 
            </ul>

        </div>
    </div>
</nav>


{% if all_stocks %}
    <h3>Here are all my stocks: </h3>    
    <ul>
        {% for stock in all_stocks %}
            <li><a href="{% url 'stock:detail' stock.id %}">{{ stock.symbol }}</a></li> 
        {% endfor %}
    </ul>
{% else %}
    <h3> You don't have any stocks! </h3>
{% endif %}